#umodal-block .modal {
    overflow-y:auto;
}
#umodal-block .modal-content{
    overflow: hidden;
}

#umodal-block .modal-header p {
    font-size: 22px;
    margin: 0;
}
#umodal-block .modal-footer{
    border:none;
}
.umodal-header-danger {
    background-color: #d9534f;
    color: white;
}
.umodal-header-default {
    /*background-color: lightgray;*/
}
.umodal-header-success {
    background-color: #5cb85c;
}
.umodal-header-warning {
    background-color: #f0ad4e;
}
.umodal-header-primary{
    background-color: #337ab7;
    color: #fff;
}
.umodal-header-info {
    background-color: #5bc0de;
}